div {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

#lista{
    display: flex;
    gap: 20px;
}

.item{
    background-color: blue;
    padding: 20px;
    color: white;
    flex-grow: 1;
}

.dobro{
    flex-grow: 2;
    background-color: blue;
    color: white;
}

h1 {
    color: darkblue;
    text-align: center;
}

.menu img{
    width: 20px;
    height: auto;
}

.menu{
    display: flex;
    justify-content: flex-end;
}
.menu img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
